<?xml version="1.0"?>


<launch>

<rosparam>
  <!-- NED FRAME, surveyed gimbal location -->
  gimbal_location_ned: [5.79, -3.378, -0.196]
  <!-- NED FRAME, surveyed omnicam+fisheye tripod location-->
  omnicam_location_ned: [7.379, -4.687, -0.196]
</rosparam>

  <!--TF Broadcasters-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="rtk_base_broadcaster" args="0 0 0 90*$pi/180 0 $pi map rtk_base_station" />
  <node name="gimbal_tf2_broadcaster" pkg="detection" type="gimbal_tf2_broadcaster_node" output="screen" />
  <node name="omnicam_tf2_broadcaster" pkg="detection" type="omnicam_tf2_broadcaster_node" output="screen" />
  <node name="aircraft_tf2_broadcaster" pkg="detection" type="aircraft_tf2_broadcaster_node" output="screen" />



</launch>
