<launch>



  <node name="fisheye" pkg="usb_cam" type="usb_cam_node" output="log" >
    <param name="video_device" value="/dev/fisheyecam" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="framerate" value="30" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="omnicam" pkg="usb_cam" type="usb_cam_node" output="log" >
    <param name="video_device" value="/dev/omnicam" />
    <param name="image_width" value="3008" />
    <param name="image_height" value="1504" />
    <param name="framerate" value="30" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

</launch>
