<?xml version="1.0"?>


<launch>

  <node name="yoloStarter" pkg="detection" type="yoloStarter" output="screen" respawn="true" />
  <!-- <node name="detection_node" pkg="detection" type="detection_node" output="screen" /> -->
  <node name="governor_node" pkg="detection" type="governor_node" output="screen" respawn="true" />
  
  <!-- PID Nodes -->
  <node name="gimbal_yaw" pkg="pid" ns="gimbal_yaw" type="controller" respawn="true" >
      <param name="Kp" value="-0.02" />
      <param name="Ki" value="-0.076" />
      <param name="Kd" value="-0.002" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <param name="windup_limit" value="4" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
    </node>
  
  <node name="gimbal_pitch" pkg="pid" ns="gimbal_pitch" type="controller" respawn="true" >
      <param name="Kp" value="0.02" />
      <param name="Ki" value="0.076" />
      <param name="Kd" value="0.002" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <param name="windup_limit" value="4" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
    </node>


  <!-- Gimbal Driver -->
  <node name="gimbal_controller_node" pkg="gimbal_controller" type="gimbal_controller_node" output="screen" respawn="true"/>

  <!-- MAVROS -->
  <!--ns = "aircraft">
  <include file="$(find mavros)/launch/px4.launch">
    <param name="fcu_url"  value="/dev/aircraft_fcu:57600"/>
  </include>
  </ns-->

  <!-- <include file="$(find mavros)/launch/px4.launch">
    <param name="fcu_url"  value="/dev/pixhawk:921600"/>
  </include> -->


  <!-- GigE Cam Driver -->
  <node name="tis_rosstarter" pkg="tiscam" type="tis_rosstarter" output="screen" respawn="true" />

  <!-- Range Calc Node -->
  <node name="range_calc_starter" pkg="detection" type="range_calc_starter" output="screen" respawn="true" />


  <!-- Omnicam+Fisheye Cam Driver -->
  <!-- <include file="$(find usb_cam)/launch/usb_cam-test.launch"/> -->

  <!-- Rqt_Image_Viewer -->
  <!-- <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" output="screen" />   -->




</launch>
