<launch>
  <arg name="fcu_url" default="serial:///dev/ttyTHS2:57600" />
  <arg name="gcs_url" default="udp://localhost:14556@localhost:14540" />
  <arg name="tgt_system" default="1" />
  <arg name="tgt_component" default="50" />
  <arg name="pluginlists_yaml" default="$(find mbzirc_system)/launch/field_tests/px4flow_pluginlists.yaml"/>
  <arg name="config_yaml" default="$(find mbzirc_system)/launch/field_tests/px4flow_config.yaml" />

  <node name="uav_control" pkg="control" type="mavros_control" output="screen">
    <param name="autopilot" value="apm" />
  </node>
  <node name="mavros" pkg="mavros" type="mavros_node" output="screen">
    <param name="fcu_url" value="$(arg fcu_url)" />
    <param name="gcs_url" value="$(arg gcs_url)" />
    <param name="target_system_id" value="$(arg tgt_system)" />
    <param name="target_component_id" value="$(arg tgt_component)" />

    <!-- <rosparam command="load" file="$(find mavros)/launch/px4_blacklist.yaml" /> -->

    <!-- enable heartbeat send and reduce timeout -->
    <param name="conn_heartbeat" value="5.0" />
    <param name="conn_timeout" value="5.0" />
    <!-- automatically start mavlink on USB -->
    <param name="startup_px4_usb_quirk" value="true" />

    <!-- load blacklist, config -->
    <rosparam command="load" file="$(arg pluginlists_yaml)" />
    <rosparam command="load" file="$(arg config_yaml)" />
  </node>
</launch>
